[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.pr4
Exec=/usr/bin/ru.auroraos.pr4
Name=Pr4
Name[ru]=Pr4

[X-Application]
Permissions=
OrganizationName=ru.auroraos
ApplicationName=pr4
ExecDBus=/usr/bin/ru.auroraos.pr4
