[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.pr1
Exec=/usr/bin/ru.auroraos.pr1
Name=Prac1
Name[ru]=Прак1

[X-Application]
Permissions=Internet;UserDirs
OrganizationName=ru.auroraos
ApplicationName=pr1
ExecDBus=/usr/bin/ru.auroraos.pr1
